/*
 * MISC
 */
:root {
    --materialize-nav-bg-color: #ee6e73;
    --odd-section-bg-color: #f3f3f3;
    --console-var-color: rgb(88, 227, 252);
    --console-func-color: #fdc426;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.divider {
    margin-bottom: 3rem;
}

.divider:nth-of-type(n) {
    background-color: #bdbdbd;
}

.hidden {
    display: none;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.pos-rel {
    position: relative;
}

.section:nth-of-type(2n) {
    background-color: var(--odd-section-bg-color);
}

/*
 * INTRO
 */
nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}

nav.nav-center ul li a {
    display: inline-block;
}

/* nav {
    background-color: white;
}

nav ul a,
.sidenav-trigger {
    color: black;
} */

#intro {
    padding: 5rem 0 3rem;
}

#intro div.pos-rel img {
    border: 12px solid var(--odd-section-bg-color);
    z-index: 1;
}

#intro div.pos-rel::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    left: -10%;
    background-color: blue;
    background: linear-gradient(135deg, #D783B6 0%, #CF8145 100%);
    border-radius: 50%;
    content: "fdsa";
    color: transparent;
}

.console {
    background-color: #333;
    color: white;
    padding: 7px;
    border: 3px solid gray;
    font-size: 20px;
}

.console-text-line1,
.console-text-line2,
.console-text-line3,
.console-text-line4 {
    position: relative;
}

.console-text-line1::after,
.console-text-line2::after,
.console-text-line3::after,
.console-text-line4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: #333;
    top: 2%;
}

.console-text-line1::after {
    border-left: 1px solid white;
    animation: type-line1 2s steps(29) forwards;
}

.console-text-line2::after {
    animation: type-line24 0.2s steps(1) forwards 2s;
}

.console-text-line3::after {
    animation: type-line3 2s steps(25) forwards 2.3s;
}

.console-text-line4::after {
    animation: type-line24 0.2s steps(1) forwards 4.4s;
}

.console-text-line4 {
    animation: type-line4-blink 1s step-end infinite 4.6s;
}

.var1 {
    animation: var-color-change 0.1s linear forwards 1s;
}

.func1 {
    animation: func-color-change 0.1s linear forwards 2.1s;
}

.var2 {
    animation: var-color-change 0.1s linear forwards 3.1s;
}

.func2 {
    animation: func-color-change 0.1s linear forwards 3.7s;
}

.var3 {
    animation: var-color-change 0.1s linear forwards 4.3s;
}

@keyframes type-line1 {
    99% {
        width: 1%;
        margin-left: 99%;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes type-line24 {
    0% {
        border-left: 1px solid white;
    }
    50% {
        width: 1%;
        margin-left: 99%;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes type-line3 {
    0% {
        border-left: 1px solid white;
    }
    99% {
        width: 1%;
        margin-left: 99%;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes type-line4-blink {
    0% {
        border-right: 1px solid white;
    }
    50% {
        border: none;
    }
}

@keyframes var-color-change {
    100% {
        color: var(--console-var-color);
    }
}

@keyframes func-color-change {
    100% {
        color: var(--console-func-color);
    }
}

/*
 * SKILLS PROGRESS BARS
 */
.progress {
    background: none;
    margin: 0 auto;
    box-shadow: none;
    width: 150px;
    height: 150px;
    line-height: 150px;
    position: relative;
}

.progress:after {
    content: "";
    border-radius: 50%;
    border: 15px solid #f2f5f5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.progress > span {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.progress .progress-l {
    left: 0;
}

.progress .progress-bar {
    border-width: 15px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;
}

.progress .progress-l .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-r {
    right: 0;
}

.progress .progress-r .progress-bar {
    left: -100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
}

.progress .progress-value {
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.progress-php .progress-bar {
    border-color: #9b80ff;
}

.progress-sql .progress-bar {
    border-color: rgb(88, 227, 252);
}

.progress-mat .progress-bar {
    border-color: #fdc426;
}

.progress-lrv .progress-bar {
    border-color: #f80;
}

.progress-html .progress-bar {
    border-color: #f40;
}

.progress-jqy .progress-bar {
    border-color: #26abfd;
}

.progress-vue .progress-bar {
    border-color: #4f8;
}

.progress-btp .progress-bar {
    border-color: rgb(253, 89, 218);
}

.progress-1y .progress-r .progress-bar {
    animation: loading-120 1.5s ease-out forwards;
}

.progress-2y .progress-r .progress-bar {
    animation: loading-180 1s linear forwards;
}

.progress-2y .progress-l .progress-bar {
    animation: loading-60 0.5s ease-out forwards 1s;
}

.progress-3y .progress-r .progress-bar {
    animation: loading-180 0.75s linear forwards;
}

.progress-3y .progress-l .progress-bar {
    animation: loading-180 0.75s ease-out forwards 0.75s;
}

@keyframes loading-60 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}

@keyframes loading-120 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }
}

@keyframes loading-180 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/*
 *  PORTFOLIO
 */
.project-row {
    margin-bottom: 4rem;
}

.project-card:hover {
    cursor: pointer;
}

.img-fill-container {
    padding-top: 100%;
    position: relative;
    background-color: #777;
}

.img-fill-container img {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
}

.portfolio-preview {
    width: 150px;
    height: auto;
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 7px;
    opacity: 50%;
    margin: 10px;
}

.portfolio-preview:hover,
.portfolio-preview.active {
    width: 175px;
    opacity: 100%;
    transition: 0.15s linear;
    cursor: pointer;
}

/*
 * EDUCATION
 */
#education .pos-rel img:last-of-type {
    position: absolute;
    width: 60%;
    height: auto;
    top: 30%;
    left: 0;
}
