/*
 * MISC
 */
:root {
    /* Royal Viridian palette */
    /* --rv-black: hsl(256,61%,15%); */
    --rv-black: hsl(256,9%,15%);
    --rv-black-darken-1: hsl(256,10%,10%);
    --rv-black-darken-2: hsl(256,10%,5%);
    --rv-black-darken-3: hsl(256,10%,0%);
    --rv-black-lighten-1: hsl(256,8%,20%);
    --rv-black-lighten-2: hsl(256,8%,25%);
    --rv-black-lighten-3: hsl(256,8%,30%);
    --rv-white: hsl(42,4%,100%);
    --rv-white-darken-1: hsl(42,4%,95%);
    --rv-white-darken-2: hsl(42,4%,90%);
    --rv-white-darken-3: hsl(42,4%,85%);
    --rv-white-lighten-1: hsl(0,0%,100%);
    /* --rv-viridian: hsl(178,78%,70%); */
    --rv-viridian: hsl(178,60%,50%);
    --rv-viridian-darken-1: hsl(178,60%,45%);
    --rv-viridian-darken-2: hsl(178,60%,40%);
    --rv-viridian-darken-3: hsl(178,60%,35%);
    --rv-viridian-lighten-1: hsl(178,60%,55%);
    --rv-viridian-lighten-2: hsl(178,60%,60%);
    --rv-viridian-lighten-3: hsl(178,60%,65%);
    --rv-indigo: hsl(271,86%,40%);
    --rv-indigo-darken-1: hsl(271,86%,35%);
    --rv-indigo-darken-2: hsl(271,86%,30%);
    --rv-indigo-darken-3: hsl(271,86%,25%);
    --rv-indigo-lighten-1: hsl(271,86%,45%);
    --rv-indigo-lighten-2: hsl(271,86%,50%);
    --rv-indigo-lighten-3: hsl(271,86%,55%);

    --console-var-color: rgb(88, 227, 252);
    --console-func-color: #fdc426;
}

html, body {
    height: 100%;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.divider {
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.hoverable:hover {
    cursor: pointer !important;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.pos-rel {
    position: relative;
}

.section:nth-of-type(7) {
    margin-bottom: 3rem;
}

/*
 * ROYAL VIRIDIAN COLOR SCHEME
 */
/* html, body {
    color: var(--rv-white-darken-2);
    background-color: var(--rv-black-darken-1);
}

.section:nth-of-type(even) {
    background-color: var(--rv-black);
}

nav ul a,
.sidenav-trigger {
    color: var(--rv-white);
}

nav {
    background-color: var(--rv-viridian-darken-2);
}

nav ul a:hover,
nav ul li.active a {
    background-color: var(--rv-viridian-darken-3);
}

#intro {
    background: var(--rv-black-lighten-3);
}

#intro > div:nth-child(1) {
    background: var(--rv-black);
}

#intro > div:nth-child(2) {
    background: var(--rv-black-darken-3);
}

#intro > div:nth-child(1),
#intro > div:nth-child(2) {
    opacity: 50%;
    transition-property: transform;
    transition-delay: 0.2s;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

.card {
    background-color: var(--rv-black-darken-1);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: var(--rv-viridian-darken-1);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: var(--rv-viridian-lighten-2);
}

.btn,
.btn-large,
.btn-small {
    color: var(--rv-white);
    background-color: var(--rv-viridian-darken-1);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: var(--rv-viridian-darken-2);
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
    background-color: var(--rv-viridian-darken-3);
}

.contact-icon {
    color: var(--rv-white-darken-2);
}

a.link {
    color: var(--rv-viridian-darken-1);
    transition: color .3s ease;
    text-transform: uppercase;
}

a.link:hover {
    color: var(--rv-viridian-lighten-2);
} */

/*
 * INTRO
 */
nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}

nav.nav-center ul li a {
    display: inline-block;
}

nav ul li.active {
    background-color: transparent;
}

#intro {
    min-height: 100%;
    padding-top: 5rem;
    overflow: hidden;
}

#intro > div:nth-child(1),
#intro > div:nth-child(2) {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#intro > div:nth-child(1) {
    transform-origin: left top;
}

#intro > div:nth-child(2) {
    transform-origin: left bottom;
}

/* #intro div.pos-rel img {
    border: 12px solid var(--even-section-bg-color);
    z-index: 1;
}

#intro div.pos-rel::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    left: -10%;
    background-color: blue;
    background: linear-gradient(135deg, #D783B6 0%, #CF8145 100%);
    border-radius: 50%;
    content: "";
} */

.console {
    background-color: #234;
    padding: 7px;
    border: 3px solid gray;
    overflow: auto;
}

.console b,
.console span {
    font-family: monospace;
    font-size: 20px;
    font-weight: normal !important;
    line-height: 1.5;
}

/*
    This is for simulating an indent in the code, because
    trying to hone in on exact pixel/rem values to exactly
    match a 4 character indent seemed too hacky and unreliable.
 */
.console b {
    visibility: hidden;
}

.console .line-numbers {
    float: left;
    background-color: #333;
    color: gray;
    border-right: 1px solid gray;
}

.console .line-numbers > span {
    padding: 0 0.7rem 0 1.7rem;
}

.console .editor {
    position: absolute;
    margin-left: 0.7rem;
}

.console-text {
    position: relative;
    color: white;
}

.console-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: #234;
    top: 2%;
}

.console-text:nth-of-type(1)::after {
    border-left: 1px solid white;
    animation: type-line1 2s steps(29) forwards 1s;
}

.console-text:nth-of-type(2)::after {
    animation: type-line24 0.2s steps(1) forwards 3s;
}

.console-text:nth-of-type(3)::after {
    animation: type-line3 2s steps(25) forwards 3.3s;
}

.console-text:nth-of-type(4)::after {
    animation: type-line24 0.2s steps(1) forwards 5.4s;
}

.console-text:nth-of-type(4) {
    animation: type-line4-blink 1s step-end infinite 5.6s;
}

.var1 {
    animation: var-color-change 0.1s linear forwards 2s;
}

.func1 {
    animation: func-color-change 0.1s linear forwards 3.1s;
}

.var2 {
    animation: var-color-change 0.1s linear forwards 4.1s;
}

.func2 {
    animation: func-color-change 0.1s linear forwards 4.7s;
}

.var3 {
    animation: var-color-change 0.1s linear forwards 5.3s;
}

@keyframes type-line1 {
    99% {
        width: 1%;
        margin-left: 99%;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes type-line24 {
    0% {
        border-left: 1px solid white;
    }
    50% {
        width: 1%;
        margin-left: 99%;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes type-line3 {
    0% {
        border-left: 1px solid white;
    }
    99% {
        width: 1%;
        margin-left: 99%;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes type-line4-blink {
    0% {
        border-right: 1px solid white;
    }
    50% {
        border: none;
    }
}

@keyframes var-color-change {
    100% {
        color: var(--console-var-color);
    }
}

@keyframes func-color-change {
    100% {
        color: var(--console-func-color);
    }
}

@media screen and (max-width: 510px) {
    .console {
        display: none;
    }
}

/* TODO Figure out this shit */
@media screen and (min-width: 601px) and (max-width: 800px) {
    .console {
        display: none;
    }
}

/*
 * SKILLS PROGRESS BARS
 */
.progress {
    background: none;
    margin: 0 auto;
    box-shadow: none;
    width: 150px;
    height: 150px;
    line-height: 150px;
    position: relative;
}

.progress:after {
    content: "";
    border-radius: 50%;
    border: 15px solid #f2f5f5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.progress > span {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.progress .progress-l {
    left: 0;
}

.progress .progress-bar {
    border-width: 15px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;
}

.progress .progress-l .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-r {
    right: 0;
}

.progress .progress-r .progress-bar {
    left: -100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
}

.progress .progress-value {
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.progress-php .progress-bar {
    border-color: #9b80ff;
}

.progress-sql .progress-bar {
    border-color: rgb(88, 227, 252);
}

.progress-mat .progress-bar {
    border-color: #fdc426;
}

.progress-lrv .progress-bar {
    border-color: #f80;
}

.progress-html .progress-bar {
    border-color: #f40;
}

.progress-jqy .progress-bar {
    border-color: #26abfd;
}

.progress-vue .progress-bar {
    border-color: #4f8;
}

.progress-btp .progress-bar {
    border-color: rgb(253, 89, 218);
}

.progress-1y .progress-r .progress-bar {
    animation: loading-120 1.5s ease-out forwards;
}

.progress-2y .progress-r .progress-bar {
    animation: loading-180 1s linear forwards;
}

.progress-2y .progress-l .progress-bar {
    animation: loading-60 0.5s ease-out forwards 1s;
}

.progress-3y .progress-r .progress-bar {
    animation: loading-180 0.75s linear forwards;
}

.progress-3y .progress-l .progress-bar {
    animation: loading-180 0.75s ease-out forwards 0.75s;
}

@keyframes loading-60 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}

@keyframes loading-120 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }
}

@keyframes loading-180 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/*
 *  PORTFOLIO
 */
.project-row {
    margin-bottom: 4rem;
}

.img-fill-container {
    padding-top: 100%;
    background-color: rgba(255,255,255,0.15);
}

.img-fill-container img {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
}

.portfolio-preview {
    width: 150px;
    height: auto;
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 7px;
    opacity: 50%;
    margin: 10px;
}

.portfolio-preview:hover,
.portfolio-preview.active {
    width: 175px;
    opacity: 100%;
    transition: 0.15s linear;
    cursor: pointer;
}

/*
 * WORK EXPERIENCE
 */
.qb-wrapper {
    padding: 2rem !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
}

.qb-wrapper::after {
    position: absolute;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    background-image: url('../images/queensboro-repeating.png');
    background-repeat: repeat;
    transform: rotate(30deg);
    background-position-x: 16%;
    background-position-y: 141%;
    opacity: 25%;
    content: "";
    z-index: 1;
}

.qb-wrapper > h2,
.qb-wrapper > h3,
.qb-wrapper > h4 {
    z-index: 2;
}

/*
 * EDUCATION
 */
#education .pos-rel img:last-of-type {
    position: absolute;
    width: 60%;
    height: auto;
    top: 30%;
    left: 0;
}

/*
 * CONTACT
 */
#contact h5,
#contact .container > div:nth-of-type(3),
#contact .container > div:nth-of-type(4) {
    margin: 2rem 0;
}

#contact .container > div:nth-of-type(3) > img {
    vertical-align: top;
}

#contact .container > div > img {
    vertical-align: bottom;
}

#contact .container > div > img + h5 {
    display: inline;
}

#contact .container > div {
    text-align: center;
}

#contact form button img {
    vertical-align: middle;
}
