/* SCSS HEX */
$alabaster-value: #edeae3ff;
$cultured-value: #f6f6f3ff;
$dark-liver-value: #4a4653ff;
$deep-indigo-value: #3c0891ff;
$medium-turquoise-value: #24dbd5ff;
$raisin-black-value: #25232aff;
$rajah-value: #ffa852ff;
$royal-purple-value: #690ebeff;
$xiketic-value: #0f0d17ff;

/* SCSS HSL */
$alabaster-value: hsla(42, 22%, 91%, 1);
$cultured-value: hsla(60, 14%, 96%, 1);
$dark-liver-value: hsla(258, 8%, 30%, 1);
$deep-indigo-value: hsla(263, 90%, 30%, 1);
$medium-turquoise-value: hsla(178, 72%, 50%, 1);
$raisin-black-value: hsla(257, 9%, 15%, 1);
$rajah-value: hsla(30, 100%, 66%, 1);
$royal-purple-value: hsla(271, 86%, 40%, 1);
$xiketic-value: hsla(252, 28%, 7%, 1);

/* SCSS RGB */
$alabaster-value: rgba(237, 234, 227, 1);
$cultured-value: rgba(246, 246, 243, 1);
$dark-liver-value: rgba(74, 70, 83, 1);
$deep-indigo-value: rgba(60, 8, 145, 1);
$medium-turquoise-value: rgba(36, 219, 213, 1);
$raisin-black-value: rgba(37, 35, 42, 1);
$rajah-value: rgba(255, 168, 82, 1);
$royal-purple-value: rgba(105, 14, 190, 1);
$xiketic-value: rgba(15, 13, 23, 1);
