<div id="fullscreen-wrapper" class="fixed inset-0 z-4 bg-black/50 opacity-0 hidden transition-opacity duration-300">
    <div class="relative w-full h-auto landscape:h-full landscape:w-auto">
        <button id="fullscreen-close" class="z-5 btn" title="Close fullscreen view">X</button>
        <!-- TODO Skull texture isn't enlarging on fullscreen preview, the spiderman texture is also too large -->
        <img id="fullscreen-img" class="center-x top-[50vh] -translate-y-1/2" src="#" alt="Fullscreen image view" />
    </div>
</div>
