<div id="fullscreen-wrapper" class="fixed inset-0 z-4 bg-black/50 opacity-0 hidden transition-opacity duration-300">
    <div class="relative w-full h-full">
        <button
            id="fullscreen-close"
            class="z-5 btn bg-light-gray text-black border-2 border-black absolute top-3 right-3 w-7 h-7 leading-6.5 cursor-pointer pointer-events-auto"
            title="Close fullscreen view"
        >
            X
        </button>
        <img
            id="fullscreen-img"
            class="center-x center-y w-full h-full object-contain"
            src="#"
            alt="Fullscreen image view"
        />
    </div>
</div>
