<div id="full-view-container" class="viewer-w-collapsed viewer-h-collapsed hidden">
  <div id="full-view-container-content" class="relative viewer-w-collapsed viewer-h-collapsed">
    <!-- TODO Add fullscreen button for images -->
    <div id="full-view-container-overlay" class="hidden">
      <button id="full-view-container-close" class="btn">X</button>
      <button id="prev-project" class="btn hidden"><</button>
      <button id="next-project" class="btn hidden">></button>
    </div>
    <img src="#" id="full-view-img" alt="Pixel art" class="hidden" />
    <video id="video-player" class="hidden" controls>
      <source id="video-player-source" src="#" type="video/mp4" />
    </video>
  </div>
</div>
