@use './palette';

$alabaster: (
    "base": palette.$alabaster-value
);

$cultured: (
    "base": palette.$cultured-value
);

$dark-liver: (
    "base": palette.$dark-liver-value
);

$deep-indigo: (
    "base": palette.$deep-indigo-value
);

$medium-turquoise: (
    "base": palette.$medium-turquoise-value
);

$pale-lavender: (
    "base": palette.$pale-lavender-value
);

$raisin-black: (
    "base": palette.$raisin-black-value
);

$rajah: (
    "base": palette.$rajah-value
);

$royal-purple: (
    "base": palette.$royal-purple-value
);

$xiketic: (
    "base": palette.$xiketic-value
);
