/*
 * MATERIALIZE
 */
@use 'sass:map';
@use './palette';
@use './palette-maps';

$customColors: (
    "alabaster": palette-maps.$alabaster,
    "cultured": palette-maps.$cultured,
    "dark-liver": palette-maps.$dark-liver,
    "deep-indigo": palette-maps.$deep-indigo,
    "medium-turquoise": palette-maps.$medium-turquoise,
    "raisin-black": palette-maps.$raisin-black,
    "rajah": palette-maps.$rajah,
    "royal-purple": palette-maps.$royal-purple,
    "xiketic": palette-maps.$xiketic
);

$primary-color: map.get(palette-maps.$royal-purple, "base");
$secondary-color: palette.$medium-turquoise-value;
$link-color: palette.$rajah-value;
$off-black: lighten(palette.$alabaster-value, 5%);

$card-bg-color: palette.$dark-liver-value;
$card-link-color: palette.$rajah-value;
$card-link-color-light: lighten($card-link-color, 20%);

$navbar-font-color: $off-black;
$sidenav-font-color: $navbar-font-color;
$sidenav-bg-color: $primary-color;

@use '../../../node_modules/materialize-css/sass/components/color-variables';
@use '../../../node_modules/materialize-css/sass/materialize.scss' with (
    $colors: map.merge(color-variables.$colors, $customColors),
    $primary-color: $primary-color,
    $secondary-color: $secondary-color,
    $link-color: $link-color,
    $off-black: $off-black,
    $card-bg-color: $card-bg-color,
    $card-link-color: $card-link-color,
    $card-link-color-light: $card-link-color-light,
    $navbar-font-color: $navbar-font-color,
    $sidenav-font-color: $sidenav-font-color,
    $sidenav-bg-color: $sidenav-bg-color
);

@use '../../../node_modules/devicon/devicon.min.css';

/*
 * MISC
 */
:root {
    --console-text: white;
    --console-text-muted: #777;
    --console-text-selected: rgba(12, 125, 217, 0.57);
    --console-bg: #2d2d2d;
    --console-bg-dark: #1d1d22;
    --console-border: var(--console-text-muted);
    --console-comment: #13a400;
    --console-str: #cf6713;
    --console-var: #58e3fc;
    --console-func: #fdc426;
    --console-close-icon-hover: #aaa;
    --console-close-icon-bg: rgba(128, 128, 128, .3);
}

html, body {
    height: 100%;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.divider {
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.hoverable:hover {
    cursor: pointer !important;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.pos-rel {
    position: relative;
}

/*
 * INTRO
 */
nav ul li.active,
.sidenav li.active {
    background-color: palette.$xiketic-value;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline-block;
    float: none;
}

#intro {
    min-height: 100%;
    padding-top: 5rem;
    overflow: hidden;
}

#intro > div:nth-child(1),
#intro > div:nth-child(2) {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#intro > div:nth-child(1) {
    transform-origin: left top;
}

#intro > div:nth-child(2) {
    transform-origin: left bottom;
}

#intro > div:nth-child(1),
#intro > div:nth-child(2) {
    opacity: .5;
    transition-property: transform;
    transition-delay: 0.2s;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

/*
 * SKILLS
 */
#skills .container .canvas-container {
    max-height: 95vh;
}

/*
 * PORTFOLIO
 */
.project-row {
    margin-bottom: 4rem;
}

.card.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.img-fill-container {
    padding-top: 100%;
    background-color: rgba(0,0,0,.3);
    transition: background-color .3s linear;
}

.card.hoverable:hover .img-fill-container {
    background-color: rgba(0,0,0,0.7);
}

.img-fill-container img {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
}

.portfolio-preview {
    width: 150px;
    height: auto;
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 7px;
    opacity: .5;
    margin: 10px;
}

.portfolio-preview:hover,
.portfolio-preview.active {
    width: 175px;
    opacity: 1.0;
    transition: 0.2s linear;
    cursor: pointer;
}

/*
 * WORK EXPERIENCE
 */
.qb-wrapper {
    padding: 2rem !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
}

.qb-wrapper::after {
    position: absolute;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    background-image: url('../img/queensboro-repeating.png');
    background-repeat: repeat;
    transform: rotate(30deg);
    opacity: .3;
    content: "";
    z-index: 1;
    animation: qb-logo-scroll 45s ease-in-out 0s infinite alternate;
}

@keyframes qb-logo-scroll {
    0% {
        background-position: 0, 0;
    }

    100% {
        background-position: 16%, 141%;
    }
}

.qb-wrapper > h2,
.qb-wrapper > h3,
.qb-wrapper > h4 {
    z-index: 2;
}

/*
 * EDUCATION
 */
#education .pos-rel img:last-of-type {
    position: absolute;
    width: 60%;
    height: auto;
    top: 30%;
    left: 0;
}

.college-wrapper {
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.college-wrapper::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .35;
    background-image: url('../img/cfcc-building.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    z-index: 1;
}

.college-wrapper h3,
.college-wrapper h4,
.college-wrapper h5 {
    z-index: 2;
}

.college-wrapper + .college-wrapper::after {
    background-image: url('../img/uncw-clock-tower.jpg');
}

@media screen and (max-width: 600px) {
    .college-wrapper::after {
        width: 120%;
        left: -10%;
    }
}

/*
 * CONTACT
 */
#contact {
    padding-bottom: 5rem;
}

.console {
    font-family: monospace;
    font-size: 20px;
    font-weight: normal !important;
    line-height: 1.5;
    color: var(--console-text-muted);
}

.console .tab,
.console .line-numbers {
    background-color: var(--console-bg);
    user-select: none;
}

.console .tab {
    float: left;
    padding: .5rem 1rem;
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 6px 6px 0 0;
}

.console .tab i {
    float: right;
    margin-left: .7rem;
    cursor: pointer;
    background-color: transparent;
    transition: .3s ease;
}

.console .tab i:hover {
    color: var(--console-close-icon-hover);
    background-color: var(--console-close-icon-bg);
}

.console .window {
    clear: left;
    white-space: nowrap;
    background-color: var(--console-bg-dark);
    border: 1px solid var(--console-border);
}

/* Clearfix */
.console .window:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.console .window,
.console .window:after {
    overflow: auto;
}

.console .line-numbers {
    float: left;
    border-right: 1px solid var(--console-border);
}

.console .line-numbers span {
    padding: 0 0.7rem 0 1.7rem;
}

.console .line-numbers,
.console .editor {
    padding: 7px 0;
}

.console .editor {
    float: left;
    margin-left: .7rem;
    color: var(--console-text);
}

.console .editor ::selection {
    background-color: var(--console-text-selected);
}

.console .indent {
    color: transparent;
}

.console .editor .line {
    position: relative;
}

.console .editor .line a {
    text-decoration: underline;
}

.console .editor .line::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2%;
    left: 0;
    background-color: var(--console-bg-dark);
    content: "";
}

/*
 * For calculating the animation duration:
 *
 * Characters / second = 20
 * X = Number of characters to be typed
 * Duration = 0.05 * X
 *
 * Rounding some values for simplicity.
 */
.console .editor .line:nth-of-type(1)::after {
    animation-name: show-cursor, type-line, hide-cursor;
    animation-duration: 1ms, 1.5s, 1ms;
    animation-timing-function: linear, steps(29), linear;
    animation-fill-mode: forwards;
    animation-delay: 0s, 1s, 2.5s;
}

.console .editor .line:nth-of-type(1) .var {
    animation: var-color-change .3s ease forwards 1.75s;
}

.console .editor .line:nth-of-type(1) .func {
    animation: func-color-change .3s ease forwards 2.5s;
}

.console .editor .line:nth-of-type(2)::after {
    animation-name: show-cursor, type-curly-line, hide-cursor;
    animation-duration: 1ms, .2s, 1ms;
    animation-timing-function: linear, steps(1), linear;
    animation-fill-mode: forwards;
    animation-delay: 2.5s, 2.5s, 2.7s;
}

.console .editor .line:nth-of-type(3)::after {
    animation-name: show-cursor, type-line, hide-cursor;
    animation-duration: 1ms, 1.5s, 1ms;
    animation-timing-function: linear, steps(29), linear;
    animation-fill-mode: forwards;
    animation-delay: 2.7s, 2.7s, 4.2s;
}

.console .editor .line:nth-of-type(3) .var:nth-of-type(2) {
    animation: var-color-change .3s ease forwards 3.5s;
}

.console .editor .line:nth-of-type(3) .func {
    animation: func-color-change .3s ease forwards 4s;
}

.console .editor .line:nth-of-type(3) .var:nth-of-type(4) {
    animation: var-color-change .3s ease forwards 4.2s;
}

.console .editor .line:nth-of-type(4)::after {
    animation-name: show-cursor, type-curly-line, hide-cursor;
    animation-duration: 1ms, .2s, 1ms;
    animation-timing-function: linear, steps(1), linear;
    animation-fill-mode: forwards;
    animation-delay: 4.2s, 4.2s, 4.4s;
}

.console .editor .line:nth-of-type(5)::after {
    animation-name: show-cursor, type-line, hide-cursor;
    animation-duration: 1ms, .7s, 1ms;
    animation-timing-function: linear, steps(16), linear;
    animation-fill-mode: forwards;
    animation-delay: 4.4s, 4.4s, 5.1s;
}

.console .editor .line.comment:nth-of-type(5) {
    animation: comment-color-change .3s ease forwards 4.6s;
}

.console .editor .line:nth-of-type(6)::after {
    animation-name: show-cursor, type-line, hide-cursor;
    animation-duration: 1ms, 1.3s, 1ms;
    animation-timing-function: linear, steps(26), linear;
    animation-fill-mode: forwards;
    animation-delay: 5.1s, 5.1s, 6.4s;
}

.console .editor .line:nth-of-type(6) .var {
    animation: var-color-change .3s ease forwards 5.3s;
}

.console .editor .line:nth-of-type(6) .str {
    animation: str-color-change .3s ease forwards 5.8s;
}

.console .editor .line:nth-of-type(7)::after {
    animation-name: show-cursor, type-line, cursor-blink;
    animation-duration: 1ms, 1.8s, 1s;
    animation-timing-function: linear, steps(35), step-end;
    animation-iteration-count: 1, 1, infinite;
    animation-fill-mode: forwards;
    animation-delay: 6.4s, 6.4s, 8.2s;
}

.console .editor .line:nth-of-type(7) .var {
    animation: var-color-change .3s ease forwards 6.6s;
}

.console .editor .line:nth-of-type(7) .str {
    animation: str-color-change .3s ease forwards 7.1s;
}

@keyframes show-cursor {
    to {
        border-left: 1px solid white;
    }
}

@keyframes hide-cursor {
    to {
        border: none;
    }
}

@keyframes type-line {
    to {
        width: 0;
        margin-left: 100%;
    }
}

@keyframes type-curly-line {
    50% {
        width: 1%;
        margin-left: 99%;
    }

    to {
        width: 0;
        margin-left: 100%;
    }
}

@keyframes cursor-blink {
    from {
        border-right: 1px solid white;
    }

    50% {
        border: none;
    }
}

@keyframes comment-color-change {
    to {
        color: var(--console-comment);
    }
}

@keyframes str-color-change {
    to {
        color: var(--console-str);
    }
}

@keyframes var-color-change {
    to {
        color: var(--console-var);
    }
}

@keyframes func-color-change {
    to {
        color: var(--console-func);
    }
}

/*
 * Hide line numbers and shrink font on narrower screens
 * or else the editor will be pushed down on its own line.
 */
@media screen and (max-width: 460px) {
    .console {
        font-size: 14px;
    }

    .console .tab {
        font-size: 12px;
    }

    .console .line-numbers {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .console {
        font-size: 16px;
    }

    .console .tab {
        font-size: 14px;
    }
}
