/* SCSS HEX */
$alabaster: #edeae3ff;
$cultured: #f6f6f3ff;
$dark-liver: #4a4653ff;
$deep-indigo: #3c0891ff;
$medium-turquoise: #24dbd5ff;
$raisin-black: #25232aff;
$rajah: #ffa852ff;
$royal-purple: #690ebeff;
$xiketic: #0f0d17ff;

/* SCSS HSL */
$alabaster: hsla(42, 22%, 91%, 1);
$cultured: hsla(60, 14%, 96%, 1);
$dark-liver: hsla(258, 8%, 30%, 1);
$deep-indigo: hsla(263, 90%, 30%, 1);
$medium-turquoise: hsla(178, 72%, 50%, 1);
$raisin-black: hsla(257, 9%, 15%, 1);
$rajah: hsla(30, 100%, 66%, 1);
$royal-purple: hsla(271, 86%, 40%, 1);
$xiketic: hsla(252, 28%, 7%, 1);

/* SCSS RGB */
$alabaster: rgba(237, 234, 227, 1);
$cultured: rgba(246, 246, 243, 1);
$dark-liver: rgba(74, 70, 83, 1);
$deep-indigo: rgba(60, 8, 145, 1);
$medium-turquoise: rgba(36, 219, 213, 1);
$raisin-black: rgba(37, 35, 42, 1);
$rajah: rgba(255, 168, 82, 1);
$royal-purple: rgba(105, 14, 190, 1);
$xiketic: rgba(15, 13, 23, 1);
