@import "tailwindcss";
@import "./colors.css";
@source "../js/base.js";
@source "../js/3d-viewer.js";

/*
 ***********************************************************************************************************************
 * FONTS
 ***********************************************************************************************************************
 */
@font-face {
    font-family: "SFPixelate";
    src: url("/css/fonts/SFPixelate.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelate-Bold";
    src: url("/css/fonts/SFPixelate-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelate-BoldOblique";
    src: url("/css/fonts/SFPixelate-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelate-Oblique";
    src: url("/css/fonts/SFPixelate-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelateShaded";
    src: url("/css/fonts/SFPixelateShaded.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelateShaded-Bold";
    src: url("/css/fonts/SFPixelateShaded-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelateShaded-BoldOblique";
    src: url("/css/fonts/SFPixelateShaded-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelateShaded-Oblique";
    src: url("/css/fonts/SFPixelateShaded-Oblique.ttf") format("truetype");
}

/*
 ***********************************************************************************************************************
 * TAILWIND OVERRIDES
 ***********************************************************************************************************************
 */
@theme {
    --font-sans: SFPixelate, sans-serif;
    --font-outline: SFPixelateShaded, sans-serif;
    --font-bold: SFPixelate-Bold, sans-serif;
}

/*
 ***********************************************************************************************************************
 * BASE STYLES
 ***********************************************************************************************************************
 */
@layer base {
    html, body {
        @apply h-full bg-black text-white;
    }

    body {
        /* Give some top margin to clear the navbar */
        @apply mt-20;
    }

    nav {
        @apply bg-dark-gray z-3 relative border-b-2 border-black px-2 py-4;
        & > ul#main-menu {
            @apply flex justify-center gap-12;
            & .sub-menu-parent::after {
                @apply inline-block w-2 h-2 ml-2 content-[''] border-r-2 border-b-2 border-viridian2 rotate-45 align-middle;
                @apply transition-[filter,border-color];
                @apply duration-300;
            }
            & .sub-menu-parent:hover {
                &::after {
                    /*TODO underline isn't working, and brightness seems like it's getting applied twice or something*/
                    @apply border-orange2 underline;
                    /*filter: brightness(1.4);*/
                }
            }
            & ul.sub-menu {
                @apply absolute top-full left-0 w-72 bg-dark-gray border-2 border-black text-nowrap opacity-0 transition-opacity duration-300;
                & > li {
                    @apply border-b-2 border-black;
                    & > a {
                        @apply block pl-1 py-2;
                        &:hover {
                            @apply bg-med-gray;
                        }
                    }
                }
                & > li:last-child {
                    @apply border-b-0;
                }
            }
        }
    }

    h1 {
        font-size: var(--text-8xl);
    }
    h2 {
        font-size: var(--text-6xl);
    }
    h3 {
        font-size: var(--text-4xl);
    }
    h4 {
        font-size: var(--text-3xl);
    }
    h5 {
        font-size: var(--text-2xl);
    }
    h6 {
        font-size: var(--text-xl);
    }

    a {
        @apply text-viridian2;
        @apply transition-[filter,color];
        @apply duration-300;
        &:hover {
            @apply text-orange2 underline;
            filter: brightness(1.4);
        }
    }
}

/*
 ***********************************************************************************************************************
 * COMPONENTS
 ***********************************************************************************************************************
 */
@layer components {
    .content {
        @apply relative z-1 px-6 pb-6;
    }

    .btn {
        @apply rounded-xs px-1.5 py-0.5 cursor-pointer;
        @apply transition-[filter];
        @apply duration-300;
        &:hover {
            filter: brightness(1.35);
        }
        &:active {
            filter: brightness(0.6);
        }
    }

    .card {
        @apply bg-dark-gray inline-block w-[300px] rounded-sm border-2 border-black;

        &:hover {
            @apply border-light-gray;
        }

        & > .card-content {
            @apply flex flex-col h-full justify-between;

            & > img {
                @apply w-[300px] h-[250px] rounded-t-sm border-b border-light-gray;
            }
            & > h4, & > h5, & > h6 {
                @apply px-3 pt-3;
            }
            & > p {
                @apply text-sm min-h-[85px];
            }
            & > p, & > a {
                @apply p-3;
            }
            & > hr {
                /*border-color: var(--color-light-gray);*/
            }
            & > a {
                /* FIXME Hovering the anchor tag also brightens this border */
                @apply block border-t border-light-gray w-full text-right;
            }
        }
    }
}

/*
 ***********************************************************************************************************************
 * MISC
 ***********************************************************************************************************************
 */
.pixelated {
    image-rendering: pixelated;
}

html, body {
    padding: 0;
    background: #2c2a30;
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    /*z-index: -1;*/
    z-index: 0;
}

#bg-settings {
    @apply transition-transform;
    @apply duration-300;
    @apply ease-out;
}

#github-link, #linkedin-link {
    @apply inline-block w-3/10 h-full cursor-pointer;
    &:hover {
        & img {
            @apply bg-orange2;
        }
    }
}

#github-link img, #linkedin-link img {
    @apply inline-block w-full h-full bg-viridian2 mask-contain mask-no-repeat mask-center indent-[100%] whitespace-nowrap overflow-hidden;
    @apply transition-[background-color];
    @apply duration-300;
}

#github-link img {
    @apply mask-[url('/images/icons/github-logo-pixelated-no-text.png')];
}

#linkedin-link img {
    @apply w-8/10 h-8/10 mask-[url('/images/icons/linkedin-logo-pixelated.png')];
}
