@theme {
    --color-light-gray: #828185;
    --color-med-gray: #39383c;
    --color-dark-gray: #2c2a30;
    --color-viridian2: #29b1a5;
    --color-orange2: #ec8000;
    --color-white: #ffffff;
    --color-black: #070007;
}
