@import "tailwindcss";
@import "./colors.css";

/*
 ***********************************************************************************************************************
 * FONTS
 ***********************************************************************************************************************
 */
@font-face {
    font-family: "PixelifySans-Bold";
    src: url("/css/fonts/PixelifySans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PixelifySans-Medium";
    src: url("/css/fonts/PixelifySans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "PixelifySans-Regular";
    src: url("/css/fonts/PixelifySans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PixelifySans-SemiBold";
    src: url("/css/fonts/PixelifySans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelate";
    src: url("/css/fonts/SFPixelate.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelate-Bold";
    src: url("/css/fonts/SFPixelate-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelate-BoldOblique";
    src: url("/css/fonts/SFPixelate-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelate-Oblique";
    src: url("/css/fonts/SFPixelate-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelateShaded";
    src: url("/css/fonts/SFPixelateShaded.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelateShaded-Bold";
    src: url("/css/fonts/SFPixelateShaded-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelateShaded-BoldOblique";
    src: url("/css/fonts/SFPixelateShaded-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "SFPixelateShaded-Oblique";
    src: url("/css/fonts/SFPixelateShaded-Oblique.ttf") format("truetype");
}

/*
 ***********************************************************************************************************************
 * TAILWIND OVERRIDES
 ***********************************************************************************************************************
 */
@theme {
    --font-sans: SFPixelate, sans-serif;
    --font-outline: SFPixelateShaded, sans-serif;
    --font-bold: SFPixelate-Bold, sans-serif;
}

/*
 ***********************************************************************************************************************
 * BASE STYLES
 ***********************************************************************************************************************
 */
@layer base {
    html, body {
        @apply h-full bg-black text-white;
    }
    nav {
        @apply bg-dark-gray text-viridian2 flex justify-around items-center;
        & > ul {
            @apply flex gap-12;
            & > li {
                /* bg-dark-gray might seem redundant here because the nav has it too,
                   but it's needed so that filter: brightness has something to brighten. */
                @apply bg-dark-gray px-2 py-4;
                @apply transition-[filter,color];
                /* TODO See if there's a way to add a tailwind var for this to be reused for things like the button transition duration */
                @apply duration-300;
                &:hover {
                    @apply text-orange2 underline;
                    filter: brightness(1.4);
                }
            }
        }
    }
    h1 {
        font-size: var(--text-6xl);
    }
    h2 {
        font-size: var(--text-5xl);
    }
    h3 {
        font-size: var(--text-4xl);
    }
    h4 {
        font-size: var(--text-3xl);
    }
    h5 {
        font-size: var(--text-2xl);
    }
    h6 {
        font-size: var(--text-xl);
    }
}

/*
 ***********************************************************************************************************************
 * COMPONENTS
 ***********************************************************************************************************************
 */
@layer components {
    .btn {
        @apply rounded-xs px-1.5 py-0.5 cursor-pointer;
        @apply transition-[filter];
        @apply duration-300;
        &:hover {
            filter: brightness(1.35);
        }
        &:active {
            filter: brightness(0.6);
        }
    }
}

/*
 ***********************************************************************************************************************
 * MISC
 ***********************************************************************************************************************
 */
.pixelated {
    image-rendering: pixelated;
}
